<!DOCTYPE html>
<html>

<head>
    <title>Predict Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/siwalikm/quick-form-css@2.2.2/qfc-dark.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}"> -->

</head>

<body>
    <div class="qfc-container">
        <h3>Predict Demo</h3>

        {% for para in pred %}
        <p>{{para}}</p>
        {% endfor %}
        <br>

        <!-- Form to enter new data for predictions  -->
        <form action="{{ url_for('predict')}}" method="POST">
            <label for="Security">Security: </label>
            <input type="text" name="Security" list="seclist" placeholder="DHT" required="required" />
            <datalist id="seclist">
                <option>CMRE</option>
                <option>SBLK</option>
                <option>DHT</option>
            </datalist>
            <label for="Current Quantity">Position:</label>
            <input type="decimal" name="Current Quantity" placeholder="10" required="required" min="0" max="1000" />
            <label for="Current Cash">Cash:</label>
            <input type="decimal" name="Current Cash" placeholder="1000.0" required="required" min="0" max="10000" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>


    </div>
</body>

</html>
